
@media  and (min-width: 768px) {
 
    body{
        margin-left: 35%;
    }
    
    h1{
        margin-left: 17%;
    }
    
    .omikuji {
        width: 50%;
    }
}


@media screen and (min-width: 767px){
    body{
        margin-left: 35%;
    }
    
    h1{
        margin-left: 17%;
    }
    
    .omikuji {
        width: 50%;
    }
}